@value variables: "./variables.css";
@value mainColor, mainBackgroundColor from variables;

.mainButton {
    background-color: mainColor;
}

.mainButton:hover {
    background-color: mainBackgroundColor;
}

.mainButton:focus {
    background-color: mainColor;
}