.text {
    font-size: 15px;
    color: #ffa430
}

.popUp {
    background: #08233B;
    opacity: 0.8;
    padding: 12px;
}
.error{
    font-size: 10px;
    color: rgba(255, 0, 0, 0.51);
}
.zeroMargin {
    margin: 0px 0px 0px 0px;
}
