@value variables: "../../global/styles/variables.css";
@value mainColor, mainBackgroundColor from variables;

.mainColor {
    color: mainBackgroundColor;
}

.mainBody {
    min-height: 100%;
    height: 100%;
    wdith: 100%;
    background-color: mainBackgroundColor ;
}