@value variables: "../../global/styles/variables.css";
@value mainColor, mainBackgroundColor from variables;

.navbarColor {
    background-color: mainColor;
}

.logoStyle{
    font-size: 30px;
    font-family: "Trebuchet MS";
    font-weight: bold;
    margin-left: 1%;
}